*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    width: 100%;
}

.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    height: 100px;
}

.header_logo a{
    text-decoration: none;
    color:#fff;
}

.header_button {
    background-image: url(/images/button.png);
    height: 40px;
    width: 40px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.barra_lateral {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 200px;
    padding: 20px;
    border: 0.25px solid;
    display: none;
}

.lista {
    list-style: none;
    margin-top: 10px;
}